
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a, a:link{
    color: white;
    text-decoration: none;
}
a:hover, a:active{
    background-color: rgba(63, 185, 255, 0.459);
    border-radius: .4em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transform: translate(.2em, 0.2em);
}
.heading-primary{
    font-size: 4.8em;
    background: linear-gradient(90deg, rgba(2,240,254,1) 0%, rgb(255, 147, 228) 54%, rgba(0,212,255,1) 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.heading-secondary{
    font-size: 2.4em;
    line-height: 1.6em;
    text-transform: capitalize;
    background: linear-gradient(90deg, rgba(2,240,254,1) 5%, rgb(255, 147, 228) 45%, rgba(0,212,255,1) 90%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.paragraph{
    font-size: 2em;
    color: white;
    margin: 2em 0;
}
body{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: 1fr 1fr 3fr auto;
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 10px;
}
/* hero element styling */
.hero{
    grid-area: 1 / 1 / 2 / 11;
    background-size: cover;
    background-position: top right;
    background-image: url("next-gen-fan-experiences-lead.webp");
    height: 100%;
}
.nav{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 100px;
    color: white;
    font-size: 1.6em;
}
.nav-logo-container{
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    grid-column: 7 / 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.hero-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1em;
    position: fixed;
    top: 50vh;
    left: 2em;
    transform: translateY(-50%);
    width: 2em;
    height: 8em;
    font-size: 2.4em;
    background-color: rgba(9, 185, 255, 0.781);
    border-radius: .1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.hero-intro{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    height: 50%;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10% 40% 10% 15%;
    text-align: center;
}

/* About Section */
.about{
    grid-area: 2 / 1 / 3 / 11;
    background: linear-gradient(0deg, rgba(1,20,57,1) 0%, rgba(88,35,110,1) 100%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 3fr;
    padding: 5% 10%;
    gap: 2rem 4rem;
}
.about-heading{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    text-align: center;
    }
.about-intro{
    grid-column: 1/3;
    grid-row: 2 / 3;
    text-align: justify;
    padding: 1em 4em;
}
.about-skills{
    grid-column: 3/5;
    grid-row: 2 / 3;
    padding: 1em 4em;
    font-size: 2em;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em 2em;
    flex-wrap: wrap;
}
.about-skills > span{
    background-color: aliceblue;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
.about-skills-item{
    list-style-type: none;
    color: white;
    background-color: rgba(9, 185, 255, 0.658);
    padding: .5em 1.5em;
    border-radius: .4em;
}
/* Projects */
.project-illustration{
    width: 40vw;
}
.btn-main{
    background-color: rgba(9, 185, 255, 0.781);
    color: white;
    font-weight: 500;
    font-size: 2.4em;
    padding: .5em 1.2em;
    border-radius: .3em;
}
.projects{
    grid-area: 3/1/4/11;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr repeat(3, 3fr);
    background: linear-gradient(0deg, rgba(88,35,110,1) 0%, rgba(1,20,57,1) 100%);
    padding: 5% 10%;
}
.projects-heading{
    grid-area: 1/2/2/4;
    text-align: center;
}
.projects-item{
    border: 2px solid white;
    padding: 1em 3vw;;
    display: flex;
    align-items: center;
    text-align: justify;

}
.projects-item-1{
    grid-area: 2/1/3/5;
}
.projects-item-2{
    grid-area: 3/1/4/5;
}
.projects-item-3{
    grid-area: 4/1/5/5;
}
.reach-me{
    grid-area: 4/1/5/11;
    padding: 0% 10%;
    background: linear-gradient(0deg, rgba(1,20,57,1) 0%, rgba(88,35,110,1) 100%);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row: 1fr 2fr 1fr;
    text-align: center;
}
.reach{
    grid-area: 1 / 2/ 2/ 4;
}
.reach-me-desc{
    grid-area: 2 / 1 / 3/ 3;
    text-align: justify;
}
.reach-me-desc > *{
    margin: 0;
}
.reach-me-details{
    grid-area: 2 / 3/ 3/ 5;
}
.reach-me-details-links{
    display: flex;
    justify-content: center;
    column-gap: 1em;
    font-size: 2.45em;
}
.reach-me-copyright{
    grid-area: 3/1/4/5;
    border-top: .3em solid white;
}
.reach-me-copyright > p{
    margin-top: .5em;
}